:root
{
    /*Light color scheme here:*/
    --light-text-color: #000000;
    --light-secondary-text-color: #666666;
    --light-highlight-text-color: #337744;
    --light-contrast-text-color: #ffffff;

    --light-bg-color: #FFFFFF;
    --light-secondary-bg-color: #f2f8ff;
    --light-highlight-bg-color: #CBD5E1;
    --light-contrast-bg-color: #111111;

    --light-primary-button-bg-color: #FFFFFF;
    --light-primary-button-hover-bg-color: #E0E5EB;
    --light-secondary-button-bg-color: #DDEEFF;
    --light-secondary-button-hover-bg-color: #CCDDFF;

    --light-contrast-button-bg-color: #222222;
    --light-contrast-button-hover-bg-color: #333333;
    --light-secondary-contrast-button-bg-color: #334455;
    --light-secondary-contrast-button-hover-bg-color: #445566;
    
    --light-primary-border-color: #333333;
    --light-secondary-border-color: #DDEEEE;

    --light-success-color: #00AA00;
    --light-error-color: #DD0000;
    --light-popup-color: #DDEEFF;
    
    
    /*Dark color scheme here:*/
    --dark-text-color: #FFFFFF;
    --dark-secondary-text-color: #999999;
    --dark-highlight-text-color: #88CC99;
    --dark-contrast-text-color: #000000;

    --dark-bg-color: #222222;
    --dark-secondary-bg-color: #444444;
    --dark-highlight-bg-color: #337744;
    --dark-contrast-bg-color: #EEEEEE;

    --dark-primary-button-bg-color: #111111;
    --dark-primary-button-hover-bg-color: #333333;
    --dark-secondary-button-bg-color: #444444;
    --dark-secondary-button-hover-bg-color: #666666;

    --dark-contrast-button-bg-color: #FFFFFF;
    --dark-contrast-button-hover-bg-color: #E0E5EB;
    --dark-secondary-contrast-button-bg-color: #CCCCDD;
    --dark-secondary-contrast-button-hover-bg-color: #9999AA;
    
    --dark-primary-border-color: #DDDDDD;
    --dark-secondary-border-color: #666666;
    
    --dark-success-color: #00AA00;
    --dark-error-color: #DD0000;
    --dark-popup-color: #667799;
}

body
{
    /* Color scheme */
    --text-color: var(--light-text-color);
    --secondary-text-color: var(--light-secondary-text-color);
    --contrast-text-color: var(--light-contrast-text-color);

    --bg-color: var(--light-bg-color);
    --secondary-bg-color: var(--light-secondary-bg-color);
    --highlight-bg-color: var(--light-highlight-bg-color);
    --contrast-bg-color: var(--light-contrast-bg-color);

    --primary-button-bg-color: var(--light-primary-button-bg-color);
    --primary-button-hover-bg-color: var(--light-primary-button-hover-bg-color);
    --secondary-button-bg-color: var(--light-secondary-button-bg-color);
    --secondary-button-hover-bg-color: var(--light-secondary-button-hover-bg-color);

    --contrast-button-bg-color: var(--light-contrast-button-bg-color);
    --contrast-button-hover-bg-color: var(--light-contrast-button-hover-bg-color);
    --secondary-contrast-button-bg-color: var(--light-secondary-contrast-button-bg-color);
    --secondary-contrast-button-hover-bg-color: var(--light-secondary-contrast-button-hover-bg-color);

    --primary-border-color: var(--light-primary-border-color);
    --secondary-border-color: var(--light-secondary-border-color);

    --success-color: var(--light-success-color);
    --error-color: var(--light-error-color);
    --popup-color: var(--light-popup-color);


    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}

body.dark-mode
{
    /* Color scheme */
    --text-color: var(--dark-text-color);
    --secondary-text-color: var(--dark-secondary-text-color);
    --highlight-text-color: var(--dark-highlight-text-color);
    --contrast-text-color: var(--dark-contrast-text-color);

    --bg-color: var(--dark-bg-color);
    --secondary-bg-color: var(--dark-secondary-bg-color);
    --highlight-bg-color: var(--dark-highlight-bg-color);
    --contrast-bg-color: var(--dark-contrast-bg-color);
    
    --primary-button-bg-color: var(--dark-primary-button-bg-color);
    --primary-button-hover-bg-color: var(--dark-primary-button-hover-bg-color);
    --secondary-button-bg-color: var(--dark-secondary-button-bg-color);
    --secondary-button-hover-bg-color: var(--dark-secondary-button-hover-bg-color);
    --contrast-button-bg-color: var(--dark-contrast-button-bg-color);
    --contrast-button-hover-bg-color: var(--dark-contrast-button-hover-bg-color);

    --primary-border-color: var(--dark-primary-border-color);
    --secondary-border-color: var(--dark-secondary-border-color);
    
    --success-color: var(--dark-success-color);
    --error-color: var(--dark-error-color);
    --popup-color: var(--dark-popup-color);
}

.contrast-text, .contrast
{
    color: var(--contrast-text-color);
}

.contrast-bg, .contrast
{
    background-color: var(--contrast-bg-color);
}

button
{
    transition-duration: 200ms;
    border: 2px solid var(--primary-border-color);
}

button.contrast
{
    color: var(--contrast-text-color);
    background-color: var(--contrast-button-bg-color);
}

button.contrast:hover
{
    background-color: var(--contrast-button-hover-bg-color);
}

button.secondary.contrast
{
    color: var(--contrast-text-color);
    background-color: var(--secondary-contrast-button-bg-color);
}

button.secondary.contrast:hover
{
    background-color: var(--secondary-contrast-button-hover-bg-color);
}

.svg-logo
{
    stroke: currentColor;
    fill: currentColor;
}

.primary
{
    color: var(--text-color);
    background-color: var(--primary-button-bg-color);
    border: 2px solid var(--primary-border-color);
}

.primary:hover
{
    background-color: var(--primary-button-hover-bg-color);
}

.secondary
{
    background-color: var(--secondary-button-bg-color);
}

.secondary:hover
{
    background-color: var(--secondary-button-hover-bg-color);
}

button.transparent
{
    border-width: 0px;
    background-color: transparent;
}

.error
{
    color: white;
    background-color: var(--error-color);
}

.success
{
    color: white;
    background-color: var(--success-color);
}

.popup
{
    color: var(--text-color);
    background-color: var(--popup-color);
}